@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fill-color: black; /* Light theme */
}

body {
  color: black;
  background-color: white;
}

.svg-color {
  color: white;
}

.link-hover:hover {
  text-decoration-line: underline;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: rgb(32, 33, 36);
  }
  :root {
    --fill-color: white; /* Dark theme */
  }
}
